<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xổ số </title>
    <link rel="stylesheet" href="lotto.css">
</head>
<body>
<div class="container">
    <div class="export">
        <a download="xoSoMienNam.png" id="png" href="' + img + '">Export PNG</a>

        <button class="btn_print" onclick="pdf()"> Export PDF</button>

        <button type="button" onclick="tableToCSV()">
            Export CSV
        </button>
    </div>

    <div class="box_kqxs" id="xoso">
        <div class="title">
            <div>KẾT QUẢ XỔ SỔ MIỀN NAM</div>
        </div>
        <table id="table">
            <tbody>
            <tr>
                <td class="col">
                    <table class="table-child1">
                        <tbody>
                        <tr>
                            <td>Thứ hai</td>
                        </tr>
                        <tr>
                            <td>24/10/2022</td>
                        </tr>
                        <tr>
                            <td>Giải tám</td>
                        </tr>
                        <tr>
                            <td>Giải bảy</td>
                        </tr>
                        <tr>
                            <td>Giải sáu</td>
                        </tr>
                        <tr>
                            <td>Giải năm</td>
                        </tr>
                        <tr>
                            <td>Giải tư</td>
                        </tr>
                        <tr>
                            <td>Giải ba</td>
                        </tr>
                        <tr>
                            <td>Giải nhì</td>
                        </tr>
                        <tr>
                            <td>Giải nhất</td>
                        </tr>
                        <tr>
                            <td>Giải đặc biệt</td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td>
                    <table class="table-child1">
                        <tbody>
                        <tr>
                            <td class="col">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>TP. HCM</td>
                                    </tr>
                                    <tr>
                                        <td>XSHCM - 10E2</td>
                                    </tr>
                                    <tr>
                                        <td>70</td>
                                    </tr>
                                    <tr>
                                        <td>849</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                0280
                                            </div>
                                            <div>
                                                8714
                                            </div>
                                            <div>
                                                6965
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5963</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                13402
                                            </div>
                                            <div>
                                                61187
                                            </div>
                                            <div>
                                                52095
                                            </div>
                                            <div>
                                                08813
                                            </div>
                                            <div>
                                                20936
                                            </div>
                                            <div>
                                                67716
                                            </div>
                                            <div>
                                                58252
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                13402
                                            </div>
                                            <div>
                                                61187
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5963</td>
                                    </tr>
                                    <tr>
                                        <td>51241</td>
                                    </tr>
                                    <tr>
                                        <td>267454</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="col">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>Đồng Tháp</td>
                                    </tr>
                                    <tr>
                                        <td>XSDT - L43</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                    </tr>
                                    <tr>
                                        <td>656</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                6349
                                            </div>
                                            <div>
                                                7847
                                            </div>
                                            <div>
                                                1745
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4090</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                13402
                                            </div>
                                            <div>
                                                61187
                                            </div>
                                            <div>
                                                52095
                                            </div>
                                            <div>
                                                08813
                                            </div>
                                            <div>
                                                20936
                                            </div>
                                            <div>
                                                67716
                                            </div>
                                            <div>
                                                58252
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                13402
                                            </div>
                                            <div>
                                                61187
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5963</td>
                                    </tr>
                                    <tr>
                                        <td>51241</td>
                                    </tr>
                                    <tr>
                                        <td>267454</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="col">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>Cà Mau</td>
                                    </tr>
                                    <tr>
                                        <td>XSCM - 22-T10K4</td>
                                    </tr>
                                    <tr>
                                        <td>03</td>
                                    </tr>
                                    <tr>
                                        <td>715</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                3093
                                            </div>
                                            <div>
                                                1552
                                            </div>
                                            <div>
                                                2790
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9531</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                13402
                                            </div>
                                            <div>
                                                61187
                                            </div>
                                            <div>
                                                52095
                                            </div>
                                            <div>
                                                08813
                                            </div>
                                            <div>
                                                20936
                                            </div>
                                            <div>
                                                67716
                                            </div>
                                            <div>
                                                58252
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                13402
                                            </div>
                                            <div>
                                                61187
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5963</td>
                                    </tr>
                                    <tr>
                                        <td>51241</td>
                                    </tr>
                                    <tr>
                                        <td>267454</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    html2canvas(document.getElementById("xoso"), {
        onrendered: function (canvas) {
            var img = canvas.toDataURL("image/png");
            document.getElementById("png").setAttribute("href", " " + img + " ");
        }
    });

    function pdf() {
        var element = document.getElementById("xoso");
        html2pdf().set({filename: 'xoSoMienNam.pdf'}).from(element).save();
    }


    function tableToCSV() {
        let textTable = "";
        var arrTable = [];

        var col1 = document.getElementsByClassName('col');

        var tableChild11 = col1[0].getElementsByClassName('table-child1');

        var rows1 = tableChild11[0].getElementsByTagName('td');
        for (var j = 0; j < rows1.length; j++) {
            arrTable.push(rows1[j].innerHTML);
        }

        for (var i = 1; i < col1.length; i++) {
            var csv_child = [];
            var rows1 = col1[i].getElementsByTagName('td');
            for (var j = 0; j < rows1.length; j++) {
                if (rows1[j].children.length > 0) {
                    var divs = rows1[j].getElementsByTagName('div');
                    let number = "\"";
                    for (var d = 0; d < divs.length; d++) {
                        let text = divs[d].textContent;
                        if (d == divs.length - 1) {
                            number += text.replace("\n", "").trim() + "\"";
                        } else {
                            number += text.replace("\n", "").trim() + "\n";
                        }
                    }
                    csv_child.push(number);
                } else {
                    csv_child.push("\"\t" + rows1[j].textContent + "\"");
                }
            }
            for (var k = 0; k < csv_child.length; k++) {
                    arrTable.push(csv_child[k]);
            }
        }

        var arr = [];
        for (var i = 0; i < col1.length; i++) {
            arr.push(arrTable.splice(0, 11));
        }

        for (var i = 0; i < 11; i++) {
            for (var j = 0; j < arr.length; j++) {
                if (j == arr.length - 1) {
                    textTable += arr[j][i];
                } else {
                    textTable += arr[j][i] + ",";
                }
            }
            if (i != 10) textTable += "\n";
        }

        console.log(textTable);
        downloadCSVFile(textTable);
    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob(["\ufeff", csv_data], {
            type: "text/csv;charset=utf-8"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "xoSoMienNam.csv";

        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }

</script>
</body>
</html>